body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* background-color: #252839; */
    /* background-image: url('../public/images/1681093117935.jpg'); */
    z-index: -1;
    font-family: 'Source Code Pro', monospace;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}
